<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css" />
    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
    <link rel="stylesheet" href="../css/panel.css">
    <link rel="stylesheet" href="../css/gallery.css">

    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/gallery">GALLERY</a>
          </li>
          <li>
            <a href="/profile">PROFILE</a>
          </li>
          <li>
            <i class="fas fa-bars"></i>
          </li>
        </ul>
      </nav>
    </header>
    <section>
        <section class="form">
          <h2>ABOUT VIA STUDIOS</h2>
          <hr>
          <h3>Is art accessible?</h3>
          <span>It depends on multiple factors.</span>
          <p>One point of accessiblity of art is does the art itself feel inclusive? Does it feel like you have to be an 'intellectual', an art 'historian', or come from an art family to be able to get it?
          Secondly,where do you view art, museums, galleries, events Galleries tend to use the same artist and do less looking to find new artist. Same goes for museums.
          There is not enough authentic gallery level art shows that are trying to include the general public. Well here comes the <a href="/gallery">galleries </a> at Via Studios</p>
        </section>
      </section>
    <footer>
      <p><a href="/signup">Join</a> our community of Artist</p>
    </footer>
  </body>
</html>
