<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../css/normalize.css" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Spectral+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
    <link rel="stylesheet" href="../css/artist.css">

    <title>artist</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/gallery">GALLERY</a>
          </li>
          <li>
            <a href="/profile">PROFILE</a>
          </li>
          <li>
            <i class="fas fa-bars"></i>
          </li>
        </ul>
      </nav>
    </header>
    <section class="mainContainer">
      <section class="mainImg">
        <img data-email="" src="" id="pic" alt="">
        <% console.log('FROM ARTIST.EJS', work) %>
        <span><%= profile.firstName %></span>
        <span><%= profile.lastName %></span>
      </section>
      <section class="container">
        <% for(var i=0; i<work.length; i++) {%>
        <section class="item">
          <img class="collection" src="<%= work[i].artWork %>" alt="">
          <a href="/purchase/<%=work[i]._id%>">PURCHASE</a>
        </section>
       <% } %>
      </section>
    </section>
    <footer>
      <p><a href="#">Join</a> our community of Artist</p>
    </footer>
    <script type="text/javascript" src="../js/description.js"></script>
    <script type="text/javascript" src="../js/artist.js"></script>
  </body>
</html>
