<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PROFILE INFO</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/panel.css">

  </head>
  <body>
    <% if (user.local.email) { %>
    <section class="form">
      <form class="info" action="/info" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Personal Information</legend>
          Profile Picture:<input type="file" name="profilePic"><br>
          First Name:<input type="text" name="firstName" <%= user.local.email %>"><br>
          Last Name: <input type="text" name="lastName" ><br>
          Tag Line: <input type="text" name="tagLine" ><br>
          Twitter: <input type="url" placeholder="https://" name="twitter"><br>
          Instagram: <input type="url" placeholder="https://" name="instagram"><br>
          City:  <input type="text" name="city" ><br>
          State: <input type="text" name="state" ><br>
          Website/Portfolio: <input  type="url" placeholder="https://" name="web" ><br>
          <button type="submit" class="frmBtn">Submit</button>
        </fieldset>
      </form>
    <% } %>
  </section>

  <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>
