<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli|Spectral+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/gallery.css">

  <title>GALLERY</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/index">HOME</a>
        </li>
        <li>
          <a href="/gallery">GALLERY</a>
        </li>
        <li>
          <a href="/profile">PROFILE</a>
        </li>
        <li>
          <i class="fas fa-bars"></i>
        </li>
      </ul>
    </nav>
  </header>
  <section class="mainGallery">
      <% for(var i=0; i<work.length; i++) {%>
    <section class="gallery">
      <a href="#"><img class="personalArt"src="<%= work[i].artWork%>"></a>
      <section class="artistInfo">
        <p><%= profile.find(p => p.email === work[i].email ).firstName%></p>
        <p><%= profile.find(p => p.email === work[i].email).lastName%></p>
      </section>
      <section class="desc"><%= work[i].caption%></section>
    </section>
    <% } %>
  </section>
  <footer>
    <p><a href="/signup">Join</a> our community of Artist</p>
  </footer>
</body>
</html>
