<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Buda:300|Josefin+Slab:400,700|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>VIA STUDIOS</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <section class="primary-bg">
      <h1>VIA STUDIOS</h1>
      <section class="primary-bg panel">
        <p> Download Chrome Extension now!</p>
        <span> <a href="#"><i class="fab fa-chrome"></i></a></span>
        <p>JOIN THE COMMUNITY AND SIGN UP <a href="../signup">HERE</a>!</p>
      </section>
    </section>
    <section class="secondary-bg ">
      <section class="secondary-bg panel panelII">
        <nav>
          <ul class="mainNav">
            <li><h3><a href="/login">LOGIN</a></h3></li>
            <li><h3><a href="/gallery"> GALLERY</a></h3></li>
            <li><h3><a href="/about"> ABOUT</a></h3></li>
          </ul>
        </nav>

      </section>
    </section>
    <footer class="primary-bg">
      <section>
        <span><a href="/about">ABOUT</a></span>
        <span><a href="/signup">JOIN THE COMMUNITY</a></span>
        <span><a href="/about">GET YOUR ART PUBLISHED</a></span>
        <span>© 2019 VIA STUDIOS</span>
      </section>
    </footer>
  </body>
</html>
