.panel{
  /* adds flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 438px;
  height: 400px;
  padding: 30px;
  position: relative;
  margin-left: 15%;
  margin-top: 60px;
  box-shadow: 2px 3px 6px #666;
  border-radius: 3px;
  letter-spacing: 2px;
  line-height: 38px;
  font-weight: bold;
}
.form{
  width: 49%;
  height: 600px;
  padding: 30px;
  margin: 60px 0 0 27%;
  box-shadow: 2px 3px 6px #666;
  border-radius: 3px;
  letter-spacing: 2px;
  line-height: 38px;
}
.panel h3{
  font-family: sans-serif;
}
.panelII{
  margin-top: 151px;
}
.box{
  width: 438px;
  height: 400px;
  padding: 30px;
  margin-left: 33%;
  margin-top: 120px;
  box-shadow: 2px 3px 6px #666;
  border-radius: 3px;
  letter-spacing: 2px;
  line-height: 38px;
}
