@import url('responsive.css');

/* <------------RESET---------------> */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ------------REGULAR CSS--------- */

*{
  box-sizing: border-box;
  text-decoration: none;
  color: #585555;
}

header{
  width: 100%;
  height: 65px;
  background-color: #d4cecb;
  font-family: 'Poiret One', cursive;

}

.profileNav li{
  float: left;
  margin: 15px;
  text-align: center;
}
.uploadWork{
  margin: 17px;
  float: left;
  margin-left: 20%;
}
input{
  background: #F6F6F5;
  width: 210px;
  height: 27px;
  font-size: 16px;
}
.line{
  background-color: #585555;
  height: 42px;
  margin: 15px;
  width: 1px;
}
nav{
  margin-left: 75%;
}
header i{
	font-size: -webkit-xxx-large;
}
.main{
	height: 625px;
  background: #F6F6F5;
	padding-top: 30px;
}

span{
  margin-left: 3%;
}
/* i{
  font-size: -webkit-xxx-large;
} */

.profile {
  width: 25%;
  height: 510px;
	margin-left: 3%;
	display: flex;
	flex: auto;
  background: #F6F6F5;
	box-shadow: 2px 3px 6px #666;
  border-radius: 3px;
  letter-spacing: 2px;
  line-height: 38px;
	text-align: center;

}

.work{
  margin-top: -507px;
  margin-left: 29%;
	height: 511px;
	display: flex;
	overflow: auto;
	white-space: nowrap;
}
.info{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  line-height: 46px;
}
.gallery{
	width: 50%;
	height: 99%;
	background: #F6F6F5;
	box-shadow: 2px 3px 6px #666;
	border-radius: 3px;
	letter-spacing: 2px;
	line-height: 38px;
	text-align: center;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #585555;
  text-align: center;
  cursor: pointer;
}
.fab .fas{
	font-size: 10px;
}
.proIcon{
	float: left;
	margin-left: 8%;
	margin-top: 40px;
	font-size: -webkit-xxx-large;


}
.proPic{
	width: 100%;
}


.personalArt{
	width: 100%;
	height:	75%;
}
button:hover, a:hover {
  opacity: 0.7;
}

footer{
  height: 65px;
  background-color: #d4cecb;
  border-top: 1px solid  #d3d3d3;
  clear: both;
}
footer>section{
	text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 30px;
  clear: both;

}
.dropDown {
  overflow: hidden;
}

.dropDown .dropBtn {
	font-weight: normal;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 a:hover, .dropDown:hover .dropBtn {
  background-color: white;
}

 .dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .dropContent a:hover {
  background-color: ;
} */

.dropDown:hover .dropContent {
  display: block;
}
