@import url("typography.css");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;




}
/* ------------ REGULAR CSS-------------------- */

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
  color: #C2C2C2;
  list-style: none;

}
nav, ul, li{
  float: left;
}

section{
  width: 50%;
  height: 660px;
  background-color: #d4cecb;
  float:left;
  text-align: center;
}

section:last-of-type{
  background-color: #f4f4f500;
}
section>section{
  width: 438px;
  height: 400px;
  padding: 30px;
  position: relative;
  left: 20%;
  top: 55px;
  /* margin: 122px; */
  display: inline-block;
  background: #F6F6F5;
  box-shadow: -7px 3px 17px 0 #171616;
  border-radius: 3px;
  letter-spacing: 2px;
  line-height: 38px;
}
form{

}
footer{
  height: 60px;
  background-color: #f9f9f980;
  border-top: 1px solid  #d3d3d3;
  clear: both;
}
footer>section{
  margin-left: 10%;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}
span{
  margin-left: 5%;
}
p{
  font-size: 20px;
  color: white;
}
h1, h2{
  font-family: 'Poiret One', cursive;
  color: #ffffff;
  /* color: #F6F6F5; */
  /* text-shadow: 1px 1px 20px #915f6d, 0 0 25px #EFDECD, 0 0 41px #ffffff; */
  text-shadow: 1px 1px 2px #EFDECD, 0 0 25px #915F6D, 0 0 10px #ffffff;
  font-size: 69px;
  position: relative;
  top: 27px;
}
.first{
  /* font-family: 'Poiret One', cursive;
  color: #ffffff;
  text-shadow: 1px 1px 20px #915f6d, 0 0 25px #EFDECD, 0 0 41px #ffffff;
  font-size: 69px; */
  text-align: right;
  /* position: relative;
  top: 27px; */
}
.fa-chrome{
    font-size: 100px;
    color: white;
    outline-color: black;
}
.icon{
text-align: center;
  /* position:relative;
  top: 0px; */
}
.iconVault{
  height: 54px;
  /* position:relative;
  top: 0px; */
}

.icon:hover{
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}

@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
